body {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  line-height: 1.5;
}

.container {
  width: 400px;
  height: 400px;
  background-color: #2a2a2a;
  position: relative;
  color: #ffffff;
}

.box {
  display: flex;
  width: 100px;
  height: 100px;
}

.first {
  background-color: chocolate;
  top: 0px;
  left: 0px;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.second {
  background-color: blue;
  top: 0px;
  right: 0px;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.three {
  background-color: purple;
  bottom: 0px;
  left: 0px;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.four {
  background-color: turquoise;
  bottom: 0px;
  right: 0px;
  position: absolute;
  justify-content: center;
  align-items: center;
}
