html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.link::before {
  display: inline-block;
  content: '';
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-image: url(../images/icon.svg);
}
